@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,
input[type='text'] {
    outline: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

:root {
    font-family: 'Alata', sans-serif;
    font-size: 16px;

    --dev: 2px solid red;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/src/assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    color: whitesmoke;
}

#nav-bar {
    background-color: rgba(37, 37, 37, 0.7);
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#top-level-nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-level-nav div {
    width: 200px;
}

#logo {
    cursor: default;
    height: 44px;
    display: flex;
    align-items: center;
}

#logoImg {
    max-width: 100%;
    max-height: 100%;
}

.main {
    margin-top: 30px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weather-display {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}

#weather-display > div {
    width: 180px;
}

#weather-display-overview {
    text-align: left;
}

#weather-display-temperature {
    text-align: center;
}

#weather-display-stats {
    text-align: right;
}

#weather-forecast {
    width: 80vw;
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#wd-hourly-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.hourly-module {
    margin-top: 10px;
}

#wd-change-unit {
    border: 2px solid whitesmoke;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: inherit;
    color: whitesmoke;
}

#weather-search-input {
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 2px 8px;
}

::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

#get-weather-btn {
    background-color: inherit;
    color: whitesmoke;
}

.backdrop {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}
