@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button,
input[type='text'] {
    outline: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

:root {
    font-family: 'Alata', sans-serif;
    font-size: 16px;

    --dev: 2px solid red;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(/src/assets/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

body {
    color: whitesmoke;
    min-height: 700px;
}

.space {
    margin: 10px;
}

#nav-bar {
    background-color: rgba(37, 37, 37, 0.7);
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#top-level-nav {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-level-nav div {
    width: 200px;
}

#logo {
    cursor: default;
    height: 44px;
    display: flex;
    align-items: center;
}

#logoImg {
    max-width: 100%;
    max-height: 100%;
}

.main {
    margin-top: 30px;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: default;
}

#weather-display {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-grow: 3;
}

#weather-display > div {
    width: 180px;
}

#weather-display-overview {
    text-align: left;
}

#weather-display-temperature {
    text-align: center;
}

#wd-temperature,
#wd-city {
    font-size: 2rem;
}

#wd-feels-like,
#wd-humidity,
#wd-wind-speed {
    font-size: 0.8rem;
}

#weather-display-stats {
    text-align: right;
}

#weather-forecast {
    width: 80vw;
    display: flex;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#hourly-title {
    font-size: 2rem;
}

#wd-hourly-container {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}

.hourly-module {
    margin-top: 10px;
}

#wd-change-unit {
    border: 2px solid whitesmoke;
    padding: 10px 16px;
    border-radius: 10px;
    background-color: inherit;
    color: whitesmoke;
    flex-shrink: 0;
}

#weather-search-form {
    flex-shrink: 0;
    position: relative;
}

#errorBox {
    width: 280px !important;
    position: absolute;
    color: red;
    font-size: 0.7rem;
    top: 45px;

    display: none;
}

#errorBox.active {
    display: block;
}

#weather-search-input {
    background-color: inherit;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 2px 8px;
}

::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}

#get-weather-btn {
    background-color: inherit;
    color: whitesmoke;
}

.backdrop {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.unitDisplay {
    padding: 0px 10px;
    font-size: 0.9rem;
}

.unitDisplay.active {
    border: 1px solid whitesmoke;
    border-radius: 20px;
    font-size: 1.2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(37, 37, 37, 0.7);
    color: whitesmoke;
    position: fixed;
    bottom: 0px;
    height: 50px;
    width: 100%;
    cursor: default;
    margin-top: 50px;
}

.fa-github-alt {
    font-size: 24px;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
}

.fa-github-alt:hover {
    transform: rotate(360deg) scale(1.2);
}

@media (max-height: 700px) {
    #nav-bar {
        display: none;
    }
    .footer {
        display: none;
    }

    .main {
        margin-top: 0px;
    }
}

@media (max-width: 600px) {
    #wd-lat,
    #wd-lng,
    #wd-rise,
    #wd-set {
        display: none;
    }
}
@media (max-width: 400px) {
    #weather-display-stats {
        display: none;
    }
}
